@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navigation {
  background: url('../../images/background.jpg') repeat;

  width: 100vw;
  height: 200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}

.search {
  font-size: 18px;
  font-family: Rubik, sans-serif;
  font-weight: 400;
}

[data-search='search'] {
  width: fit-content;
  height: fit-content;
  cursor: url('icon-arrow.svg');
}
[data-insert='searchedItem'] {
  width: 400px;
  height: 54px;
  padding: 20px;
  padding-right: 50px;
  padding-left: 50px;

  cursor: pointer;
}
[data-send='submitId'] {
  border: none;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
  margin-left: -30px;
  height: 54px;
  width: 40px;
  background-color: black;
  color: #fff;
  font-family: Rubik, sans-serif;
  font-weight: 700;
  font-size: large;

  cursor: url('icon-arrow.svg'), progress;
}
[data-send='nothing'] {
  position: relative;
  border: none;
  border-top-left-radius: 25%;
  border-bottom-left-radius: 25%;
  margin-right: -34px;
  height: 53px;
  width: 40px;
  opacity: 1;
  background-color: #fff;
  color: #fff;
  font-family: Rubik, sans-serif;
  font-weight: 700;
  font-size: large;
  z-index: 3;
}

#map {
  width: 100vw;
  height: 75vh;
  position: absolute;
}

@media only screen and (max-width: 375px) {
  .search {
    font-size: 12px;
    font-family: Rubik, sans-serif;
    font-weight: 200;
  }

  [data-search='search'] {
    width: fit-content;
    height: fit-content;
  }
  [data-insert='searchedItem'] {
    width: 328px;
    height: 54px;
    padding: 20px;
    padding-right: 50px;
    padding-left: 50px;
    cursor: pointer;
  }
  [data-send='submitId'] {
    border: none;
    border-top-right-radius: 25%;
    border-bottom-right-radius: 25%;
    margin-left: -30px;
    height: 54px;
    width: 40px;
    background-color: black;
    color: #fff;
    font-family: Rubik, sans-serif;
    font-weight: 700;
    font-size: larger;

    cursor: url('icon-arrow.svg'), progress;
  }
  [data-send='nothing'] {
    position: relative;
    border: none;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
    margin-right: -34px;
    height: 53px;
    width: 40px;
    opacity: 1;
    background-color: #fff;
    color: #fff;
    font-family: Rubik, sans-serif;
    font-weight: 700;
    font-size: larger;
    z-index: 3;
  }
}

@media only screen and (max-width: 457px) {
  .search {
    font-size: 12px;
    font-family: Rubik, sans-serif;
    font-weight: 200;
  }

  [data-search='search'] {
    width: fit-content;
    height: fit-content;
  }
  [data-insert='searchedItem'] {
    width: 328px;
    height: 54px;
    padding: 20px;
    padding-right: 50px;
    padding-left: 50px;
    cursor: pointer;
  }
  [data-send='submitId'] {
    border: none;
    border-top-right-radius: 25%;
    border-bottom-right-radius: 25%;
    margin-left: -30px;
    height: 54px;
    width: 40px;
    background-color: black;
    color: #fff;
    font-family: Rubik, sans-serif;
    font-weight: 700;
    font-size: larger;

    cursor: url('icon-arrow.svg'), progress;
  }
  [data-send='nothing'] {
    position: relative;
    border: none;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
    margin-right: -34px;
    height: 53px;
    width: 40px;
    opacity: 1;
    background-color: #fff;
    color: #fff;
    font-family: Rubik, sans-serif;
    font-weight: 700;
    font-size: larger;
    z-index: 3;
  }
}
@media only screen and (max-width: 347px) {
  .search {
    font-size: 12px;
    font-family: Rubik, sans-serif;
    font-weight: 200;
  }

  [data-search='search'] {
    width: fit-content;
    height: fit-content;
  }
  [data-insert='searchedItem'] {
    width: 200px;
    height: 54px;
    padding: 20px;
    padding-right: 50px;
    padding-left: 50px;
    cursor: pointer;
  }
  [data-send='submitId'] {
    border: none;
    border-top-right-radius: 25%;
    border-bottom-right-radius: 25%;
    margin-left: -30px;
    height: 54px;
    width: 40px;
    background-color: black;
    color: #fff;
    font-family: Rubik, sans-serif;
    font-weight: 700;
    font-size: larger;

    cursor: url('icon-arrow.svg'), progress;
  }
  [data-send='nothing'] {
    position: relative;
    border: none;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
    margin-right: -34px;
    height: 53px;
    width: 40px;
    opacity: 1;
    background-color: #fff;
    color: #fff;
    font-family: Rubik, sans-serif;
    font-weight: 700;
    font-size: larger;
    z-index: 3;
  }
}
